@use '../../style/variables' as *;

.table-container {
  margin: 20px;
  border: 1px solid $white;
  padding: 40px;
  border-radius: 8px;  
  text-align: center;

  .table-title {
    @include main-font;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    color: $water-light;
  }

  button {
    margin: 10px;
    @include main-font;
    font-size: 16px;
    color: $water;
  }

  .mat-elevation-z8 {
    width: 100%;
    border-collapse: collapse;

    th, td {
      @include main-font;
      font-size: medium;
      padding: 12px 15px;
      border: 1px solid $black;
    }

    th {
      font-weight: 600;
      background-color: $water-light;
      color: $white;
    }

    td {
      background-color: $white;
      color: $black;
    }

    .img {
      border-radius: 50%;
      height: 50px;
      width: 50px;
    }

    .button-container {
      display: flex;
      flex-direction: row;
      align-items: start;
      justify-content: start;
      gap: 10px;

      button {
        margin: 10px;
        @include main-font;
        font-size: 16px;
        color: $water;
      }
    }

    tr {
      &:nth-child(even) {
        background-color: $normal-light;
      }

      &:hover {
        background-color: $steel-light;
      }
    }

    .end-of-page-button-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      button {
        @include main-font;
      }
    }
  }

  mat-paginator {
    @include main-font;
    font-size: small;
    font-weight: 500;
  }
}
