@use '../../app/style/variables.scss' as *;
form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: $white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  mat-form-field {
    width: 100%;
  }
}

mat-form-field {
  .mat-form-field-appearance-fill {
    .mat-form-field-wrapper {
      padding-bottom: 0;
      margin-top: 0;
    }

    .mat-form-field-flex {
      background: $white;
      border-radius: 4px 4px 0 0;
    }
  }

  .mat-form-field-label {
    color: $steel-light;
  }

  .mat-input-element {
    padding: 10px;
  }
}


h2[mat-dialog-title] {
  margin: 0;
  padding: 16px;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: $flying;
  color: $white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}


div[mat-dialog-actions] {
  display: flex;
  justify-content: flex-end;
  gap: 8px;

  button {
    min-width: 80px;

    &.mat-button {
      color: $flying;
    }

    &.mat-button-primary {
      color: $white;
      background-color: $flying;
    }

    &.mat-button-primary:hover {
      background-color: $flying;
    }
  }
}

