
<h2 mat-dialog-title>Add New {{ data.pageTitle }}</h2>
<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div *ngFor="let column of data.columns">
    <ng-container *ngIf="column !== '_id' && column !== 'actions'">
      <mat-form-field appearance="fill">
        <mat-label>{{ data.columnDefs[column] }}</mat-label>
        <input matInput [formControlName]="column">
      </mat-form-field>
    </ng-container>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="submit" color="primary">Submit</button>
    <button mat-button type="button" (click)="closeDialog()">Cancel</button>
  </div>
</form>
